
[zip_master_one]
type=server
address=master
port=3306
protocol=MariaDBBackend

[zip_master_two]
type=server
address=master2
port=3306
protocol=MariaDBBackend

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=zip_master_one,zip_master_two
user=maxuser
password=maxpwd
monitor_interval=1000

[Sharded-Service]
type=service
router=schemarouter

servers=zip_master_one,zip_master_two
user=maxuser
password=maxpwd

[Sharded-Service-Listener]
type=listener
service=Sharded-Service
protocol=MariaDBClient
port=4000
